$border: 1px solid rgb(165, 176, 206);

$grey: rgb(165, 176, 206);
$pink: rgb(197, 39, 54);
$blue: rgb(131, 232, 244);
$purple: rgb(108, 49, 136);
$mediumPurple: rgb(171, 171, 211);
$lightPurple: rgb(236, 239, 248);

$smallText: 12px;
$mediumText: 15px;
$normalText: 20px;
$bigText: 25px;
