@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  background-color: $lightPurple;
  border-radius: 5px;
  width: 30%;
  height: 40%;
  margin: 10px;
}

.icon {
  margin: 5px;
  font-size: 20px;
  color: $purple;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
  font-size: $smallText;
}
